<a href="https://colab.research.google.com/github/yingxin16/SuperMario_Hackathon22PRS/blob/main/MASA_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reading dataset**

In [ ]:
#Import all the necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.metrics as metrics

In [ ]:
#load data using file uploader 
from google.colab import files 
    
uploaded = files.upload()

Saving [MASA Hackathon 2022] Travel Insurance Data Set .xlsx to [MASA Hackathon 2022] Travel Insurance Data Set .xlsx

In [ ]:
df=pd.read_excel ('[MASA Hackathon 2022] Travel Insurance Data Set .xlsx')

# **Data preprocessing**

### Data Cleaning

Steps taken: 
1. Gender has 71% values missing, thus drop the column as it holds no value.

2. Remove duplicate rows.

3. Remove outliers

4. Bin age into bin size of 10

In [ ]:
#clean empty spaces in column names 
df.columns = df.columns.str.strip()

In [ ]:
df.isna().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Claim                       0
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Gender                  45107
Age                         0
dtype: int64

In [ ]:
df = df.drop(columns=['Gender'])

In [ ]:
df.duplicated().sum()

8670

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df[(df['Duration'] >=1) & (df['Duration'] <1000)]
df = df[df['Age'] <100]
df = df[df['Net Sales'] <700]
df = df[df['Commision (in value)'] <250]

In [ ]:
df['Age'].min(), df['Age'].max()

(0, 88)

In [ ]:
bins = [0,10,20,30,40,50,60,70,80,90]
df['AgeGroup'] = pd.cut(df['Age'],bins)
df = df.drop(columns=['Age'])

In [ ]:
df['AgeGroup'].value_counts()

(30, 40]    29322
(40, 50]     8575
(20, 30]     8031
(50, 60]     4910
(60, 70]     2115
(70, 80]      539
(10, 20]      397
(80, 90]      103
(0, 10]        36
Name: AgeGroup, dtype: int64

### Feature Engineering

In [ ]:
df['Destination'].unique()
print(df['Destination'].value_counts())
print(df['Destination'].nunique())

SINGAPORE                 11182
THAILAND                   5049
MALAYSIA                   4316
CHINA                      3917
AUSTRALIA                  3453
                          ...
NEW CALEDONIA                 1
URUGUAY                       1
BENIN                         1
BARBADOS                      1
BOSNIA AND HERZEGOVINA        1
Name: Destination, Length: 147, dtype: int64
147

In [ ]:
frequencies = df['Destination'].value_counts(normalize=True)
mapping = df['Destination'].map(frequencies)
df['Destination']=df['Destination'].mask(mapping <0.005, 'OTHER')

In [ ]:
df['Destination'].unique()
print(df['Destination'].value_counts())
print(df['Destination'].nunique())

SINGAPORE                    11182
THAILAND                      5049
MALAYSIA                      4316
CHINA                         3917
AUSTRALIA                     3453
OTHER                         3092
INDONESIA                     2823
UNITED STATES                 2469
HONG KONG                     2082
PHILIPPINES                   2002
JAPAN                         1954
KOREA, REPUBLIC OF            1410
VIET NAM                      1351
INDIA                         1299
UNITED KINGDOM                1249
TAIWAN, PROVINCE OF CHINA     1041
MYANMAR                        645
BRUNEI DARUSSALAM              643
NEW ZEALAND                    524
CANADA                         520
FRANCE                         463
GERMANY                        445
ITALY                          440
CAMBODIA                       430
NETHERLANDS                    356
SPAIN                          319
UNITED ARAB EMIRATES           279
SWITZERLAND                    277
Name: Destination, dtype: int64
28

In [ ]:
df['Agency'].unique()
print(df['Agency'].value_counts())
print(df['Agency'].nunique())

EPX    28916
CWT     8078
C2B     7465
JZI     5851
SSI      912
LWC      671
RAB      593
TST      474
KML      305
ART      267
CCR      141
CBH       99
TTW       92
CSR       85
ADM       81
Name: Agency, dtype: int64
15

In [ ]:
df['Product Name'].unique()
print(df['Product Name'].value_counts())
print(df['Product Name'].nunique())

Cancellation Plan                       15305
2 way Comprehensive Plan                11104
Rental Vehicle Excess Insurance          8078
Basic Plan                               5014
Bronze Plan                              3617
1 way Comprehensive Plan                 2507
Silver Plan                              2130
Value Plan                               1686
Annual Silver Plan                       1186
Ticket Protector                          912
Travel Cruise Protect                     473
Gold Plan                                 347
Comprehensive Plan                        310
24 Protect                                240
Single Trip Travel Protect Gold           199
Annual Gold Plan                          185
Premier Plan                              172
Single Trip Travel Protect Silver         171
Annual Travel Protect Gold                 97
Annual Travel Protect Silver               86
Single Trip Travel Protect Platinum        73
Individual Comprehensive Plan              69
Annual Travel Protect Platinum             45
Spouse or Parents Comprehensive Plan       15
Child Comprehensive Plan                    8
Travel Cruise Protect Family                1
Name: Product Name, dtype: int64
26

In [ ]:
df['Product Name'] = df['Product Name'].replace(['Annual Travel Protect Gold','Annual Travel Protect Silver','Annual Travel Protect Platinum'], 'Annual Travel Protect')
df['Product Name'] = df['Product Name'].replace(['Spouse or Parents Comprehensive Plan','Child Comprehensive Plan','Travel Cruise Protect Family'], 'Family')
df['Product Name'] = df['Product Name'].replace(['Single Trip Travel Protect Gold','Single Trip Travel Protect Silver','Single Trip Travel Protect Platinum'], 'Single Trip Travel Protect')

In [ ]:
df['Product Name'].unique()
print(df['Product Name'].value_counts())
print(df['Product Name'].nunique())

Cancellation Plan                  15305
2 way Comprehensive Plan           11104
Rental Vehicle Excess Insurance     8078
Basic Plan                          5014
Bronze Plan                         3617
1 way Comprehensive Plan            2507
Silver Plan                         2130
Value Plan                          1686
Annual Silver Plan                  1186
Ticket Protector                     912
Travel Cruise Protect                473
Single Trip Travel Protect           443
Gold Plan                            347
Comprehensive Plan                   310
24 Protect                           240
Annual Travel Protect                228
Annual Gold Plan                     185
Premier Plan                         172
Individual Comprehensive Plan         69
Family                                24
Name: Product Name, dtype: int64
20

### Data Tranformation

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54030 entries, 0 to 63325
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                54030 non-null  object
 1   Agency Type           54030 non-null  object
 2   Distribution Channel  54030 non-null  object
 3   Product Name          54030 non-null  object
 4   Claim                 54030 non-null  object
 5   Duration              54030 non-null  int64
 6   Destination           54030 non-null  object
 7   Net Sales             54030 non-null  float64
 8   Commision (in value)  54030 non-null  float64
 9   AgeGroup              54028 non-null  category
dtypes: category(1), float64(2), int64(1), object(6)
memory usage: 4.2+ MB

In [ ]:
#categorical variables
cat_var= ['Agency', 'Agency Type','Distribution Channel','Product Name','Claim','Destination','AgeGroup']

#numerical variables
num_var= ['Duration','Net Sales','Commision (in value)']

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for var in cat_var:
    label_encoder.fit(df[var])
    df[var] = label_encoder.transform(df[var])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
df[num_var]= scaler.fit_transform(df[num_var])

#**Create Training and Test Sets**

This step is done before feature selection to prevent information leakage

In [ ]:
y = df['Claim']
X = df.drop(columns=['Claim'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=0)

# **Feature Selection**

By using chi square test, we select those features that have the strong relationship with our target

In [ ]:
#apply SelectKBest class 
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import  chi2

bestfeatures = SelectKBest(score_func=chi2, k=5)
fit = bestfeatures.fit(X_train,y_train)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X_train.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Features','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score'))

               Features       Score
0                Agency  556.835276
5           Destination  214.369683
1           Agency Type  130.720451
7  Commision (in value)   75.701239
4              Duration   69.490788
3          Product Name    8.844628
6             Net Sales    4.005590
8              AgeGroup    3.628144
2  Distribution Channel    0.026660

Distribution Channel score very low, indicating no relationship found, thus is removed

In [ ]:
X_train.drop('Distribution Channel',axis=1,inplace=True)

In [ ]:
X_test.drop('Distribution Channel',axis=1,inplace=True)

# **SMOTE**

The data is very imbalance, thus we oversample the train dataset using SMOTE

In [ ]:
from collections import Counter
from imblearn.over_sampling import SMOTE

counter = Counter(y_train)
print('Before Oversampling',counter)

sm = SMOTE()
X_smote, y_smote = sm.fit_resample(X_train, y_train)

counter= Counter(y_smote)
print('After Oversampling',counter)

X_train = X_smote.copy()
y_train = y_smote.copy()

Before Oversampling Counter({0: 42503, 1: 721})
After Oversampling Counter({0: 42503, 1: 42503})

# **Modelling and Evaluation**

### Building models

Fit 8 models in a for loop using default parameters.

Although results will not be as precise, but able to weed out algorithms that has noticeably lower score.

Thus, save time and able to focus on model tuning on a few of selected algorithms with higher score.

In [ ]:
#Algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [ ]:
key = ['Decision Tree','Naive Bayes','Gradinet Boosting','KNN','Logistic Regression','MLP','Random Forest','SVC',]
value = [DecisionTreeClassifier(),GaussianNB(),GradientBoostingClassifier(),KNeighborsClassifier(),LogisticRegression(solver='lbfgs', max_iter=3000),MLPClassifier(max_iter=3000),RandomForestClassifier(),SVC(kernel='sigmoid')]
models = dict(zip(key,value))
models

{'Decision Tree': DecisionTreeClassifier(),
 'Naive Bayes': GaussianNB(),
 'Gradinet Boosting': GradientBoostingClassifier(),
 'KNN': KNeighborsClassifier(),
 'Logistic Regression': LogisticRegression(max_iter=3000),
 'MLP': MLPClassifier(max_iter=3000),
 'Random Forest': RandomForestClassifier(),
 'SVC': SVC(kernel='sigmoid')}

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn import model_selection

seed = 42
predicted =[]

for name,model in models.items():
    kfold = model_selection.KFold(n_splits=10, random_state=seed,shuffle=True)
    cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
    
    print("%s: %f (%f)" % (name, cv_results.mean(), cv_results.std()))

Decision Tree: 0.947204 (0.003740)
Naive Bayes: 0.730207 (0.003043)
Gradinet Boosting: 0.814531 (0.003134)
KNN: 0.894702 (0.001556)
Logistic Regression: 0.742583 (0.003444)
MLP: 0.802908 (0.004101)
Random Forest: 0.952721 (0.001978)

Based on above result, Decision Tree and Random Forest is selected to proceed to model tuning.

### Model Tuning and Scoring

Hyperparameter tuning using Grid Search CV

In [ ]:
from sklearn.model_selection import GridSearchCV
### Grid Search to tune hyperparameter for random forest
param_grid = {
    'n_estimators' : [50,60,70,80,90],
    'max_depth' : [5,6,7,8,9,10,11,12]
}

### Grid Search
RF=GridSearchCV(RandomForestClassifier(random_state=10), param_grid, cv=10,n_jobs=3)
RF.fit(X_train, y_train)


# print the best parameters
print ('Best Parameters: ', RF.best_params_)

In [ ]:
dt= DecisionTreeClassifier()
param_grid = {
    'criterion' : ['gini','entropy'],
    'max_depth' : range(1,10),
    "min_samples_split": range(1,10),
    "min_samples_leaf": range(1,5)
}

### Grid Search
from sklearn.model_selection import GridSearchCV
DT=GridSearchCV(dt, param_grid, cv=5,verbose=1,n_jobs=-1)
DT.fit(X_train, y_train)

# print the best parameters
print ('Best Parameters: ', DT.best_params_)

### Model Evaluation

model evaluation using confusion matrix and classification report

In [ ]:
best_params=RF.best_params_
        
max_depth=best_params["max_depth"]
n_estimators=best_params["n_estimators"]

rf=RandomForestClassifier(random_state=10,n_estimators=n_estimators,max_depth=max_depth)
rf.fit(X_train, y_train)

# Predict 
y_train_pred = rf.predict(X_smote)
y_pred = rf.predict(X_test)
print("Train Accuracy of RandomForest:",metrics.accuracy_score(y_smote, y_train_pred))
print("Test Accuracy of RandomForest:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

conf_mat = confusion_matrix(y_test, y_pred)
plt.figure(figsize = (10,7))
sns.heatmap(conf_mat, square=True, annot=True, cmap='Blues', fmt='d', cbar=False)
plt.xlabel('Predicted')
plt.ylabel('Truth')
plt.show()

print(classification_report(y_test, y_pred))

In [ ]:
best_params=DT.best_params_

criterion=best_params["criterion"]        
max_depth=best_params["max_depth"]
min_samples_split=best_params["min_samples_split"]
min_samples_leaf=best_params["min_samples_leaf"]


DT = DecisionTreeClassifier(criterion=criterion, max_depth=max_depth, min_samples_leaf=min_samples_leaf,
                       min_samples_split=min_samples_split)

#Train the model on the data
DT.fit(X_train, y_train)

#predict seen data
y_train_pred = DT.predict(X_train)

# Predict unseen data
y_pred = DT.predict(X_test)
print("Train Accuracy of DecisionTree:",metrics.accuracy_score(y_train, y_train_pred))
print("Test Accuracy of DecisionTree:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

conf_mat = confusion_matrix(y_test, y_pred)
plt.figure(figsize = (10,7))
sns.heatmap(conf_mat, square=True, annot=True, cmap='Blues', fmt='d', cbar=False)
plt.xlabel('Predicted')
plt.ylabel('Truth')
plt.show()

print(classification_report(y_test, y_pred))

# **The best model is Random Forest Classifier**